<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
    
    <bean id="bridgePropertyPlaceholder" class="org.apache.camel.spring.spi.BridgePropertyPlaceholderConfigurer">
		<property name="location" value="file:${user.home}/andromeda/application.properties"/>
	</bean>
	
	<context:component-scan base-package="fr.estela.andromeda"/>
    
	<bean id="feedlyMailEnricher" class="fr.estela.andromeda.feedly.mail.FeedlyMailEnricher"/>
    <bean id="feedlyActuMailProcessor" class="fr.estela.andromeda.commons.mail.MailProcessor">
    	<constructor-arg type="java.lang.String" value="/mail-actu.properties"/>
    	<constructor-arg type="java.lang.String" value="RSS Actu"/>
    	<constructor-arg type="java.lang.String" value="news.estela@gmail.com"/>
        <constructor-arg ref="feedlyMailEnricher"/>
    </bean>   
    <bean id="feedlyTechMailProcessor" class="fr.estela.andromeda.commons.mail.MailProcessor">
    	<constructor-arg type="java.lang.String" value="/mail-tech.properties"/>
    	<constructor-arg type="java.lang.String" value="RSS Tech"/>
    	<constructor-arg type="java.lang.String" value="news.estela@gmail.com"/>
        <constructor-arg ref="feedlyMailEnricher"/>
    </bean>
    
    <bean id="feedlyTokenExpirationVerifier" class="fr.estela.andromeda.feedly.misc.TokenExpirationVerifier"/>
    
    <bean id="genericMailProcessor" class="fr.estela.andromeda.commons.mail.MailProcessor">
    	<constructor-arg type="java.lang.String" value="/mail-actu.properties"/>
    	<constructor-arg type="java.lang.String" value="System"/>
    	<constructor-arg type="java.lang.String" value="news.estela@gmail.com"/>
    </bean>   
    
	<!-- bean id="twitterMailEnricher" class="fr.estela.andromeda.twitter.mail.TwitterMailEnricher"/>    
    <bean id="twitterMailProcessor" class="fr.estela.andromeda.commons.mail.MailProcessor">
    	<constructor-arg type="java.lang.String" value="/mail-twitter.properties"/>
    	<constructor-arg type="java.lang.String" value="Twitter Forward"/>
    	<constructor-arg type="java.lang.String" value="news.estela@gmail.com"/>
        <constructor-arg ref="twitterMailEnricher"/>
    </bean -->

	<camel:camelContext>
		<camel:route>
			<camel:from uri="feedly://streams/contents?authorizationKey={{feedly.authorizationKey}}&amp;streamId={{feedly.categoryId.actu}}&amp;delay=900000"/>
			<camel:split>
            	<camel:simple>body</camel:simple>
				<camel:log message="${in.body}"/>
				<camel:process ref="feedlyActuMailProcessor"/>
			</camel:split>
		</camel:route>
		<camel:route>
			<camel:from uri="feedly://streams/contents?authorizationKey={{feedly.authorizationKey}}&amp;streamId={{feedly.categoryId.tech}}&amp;delay=900000"/>
			<camel:split>
            	<camel:simple>body</camel:simple>
				<camel:log message="${in.body}"/>
				<camel:process ref="feedlyTechMailProcessor"/>
			</camel:split>
		</camel:route>
		
		<camel:route>
			<camel:from uri="timer://foo?period=3600000"/>
			<camel:process ref="feedlyTokenExpirationVerifier"/>
			<camel:process ref="genericMailProcessor"/>
		</camel:route>
		
		<!-- camel:route>
			<camel:from uri="twitter://streaming/user?type=event&amp;consumerKey={{twitter.consumerKey}}&amp;consumerSecret={{twitter.consumerSecret}}&amp;accessToken={{twitter.accessToken}}&amp;accessTokenSecret={{twitter.accessTokenSecret}}"/>
			<camel:log message="${in.body}"/>
			<camel:process ref="twitterMailProcessor"/>
		</camel:route -->
	</camel:camelContext>
 
</beans>